.oac-ui-container {
  font-size: 12px;
  margin-top: 15px;
  clear:both;
}

.oac-user-input {
  height: 100%;
  width: 185px;
  float: left;
  background-color: #EEE;
  font-size: 15px;
  font-family: Arial, sans-serif;
  padding: 10px;
}

.oac-output {
  height: 100%;
  width: 655px;
  float: left;
  padding: 10px;
  position: relative;
  font-size: 13px;
  font-family: Arial,sans-serif;
}

li.oac-enso-1 {
  background-color: #00ff66;
}

li.oac-enso-2 {
  background-color: #ff6666;
}

li.oac-enso-3 {
  background-color: #00ccff;
}

li.oac-enso-4 {
  background-color: #808080;
}

table.oac-enso-1 .oac-data-selected {
  background-color: #0f6;
}

table.oac-enso-2 .oac-data-selected {
  background-color: #f66;
}

table.oac-enso-3 .oac-data-selected {
  background-color: #0cf;
}

table.oac-enso-4 .oac-data-selected {
  background-color: #f2f1df;
}

ul#enso-select {
  display: block;
}

#enso-select li{
  padding: 5px;
  }

#innerWrap ul#tabs{
  margin-bottom: 0 !important;
}

#oac-user-input-panel{
  padding-top: 15px;
}

label {font-size: .9em; font-weight: 700; padding: 8px 0 5px 0; display: block; color: #552b00;}

#oac_scope_location{padding: 5px 0;}

.tableWrap{
  max-height: 250px;
  overflow: auto;
  padding-right: 15px;
}

.oac-table{
  padding:0;
}

.oac-chart{
  width: 620px !important;
  margin-top: 25px;
  border: 1px #ccc solid;
}
