.oac-enso-1.highlight {
	background-color: #00ff66;
}

.oac-enso-2.highlight {
	background-color: #ff6666;
}

.oac-enso-3.highlight {
	background-color: #00ccff;
}

.oac-enso-4.highlight {
	background-color: #808080;
}